.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  flex-direction: column;
}
.light {
  width: 100px;
  height: 100px;

  border: 10px solid black;

  border-radius: 50%;
  margin-top: 10px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
