name: React CI/CD Pipeline

on:
    push:
         branches:
          - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v3
        
        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:
           node-version: 20
        - name: Install dependencies
          run: npm ci
          
        - name: Build React App
          run: npm run build
        
        - name: Deploy to S3
          uses: jakejarvis/s3-sync-action@v0.5.1
          with:
           args: --acl public-read --delete
          env:
           AWS_S3_BUCKET: ${{ secrets.AWS_BUCKET_NAME }}
           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
           AWS_REGION: ap-south-1
           SOURCE_DIR: build

